<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="C:\logs\nlog-internal.log">

		<extensions>
			<add assembly="NLog.Targets.ElasticSearch" />
		</extensions>

		<targets>

		<!-- DOSYA -->
		<target xsi:type="File"
				name="file"
				fileName="C:\logs\barcode.log"
				layout="${longdate}|${level}|${logger}|${message}" />

		<!-- ELASTIC -->
		<target xsi:type="ElasticSearch"
				name="elastic"
				uri="http://localhost:9200"
				index="barcode-logs-${date:format=yyyy.MM.dd}">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file,elastic" />
	</rules>
</nlog>
